<li>
	{{critter}}

	<button class="change-free" data-id="{{id}}" data-newfree="{{fr}}">
		{{#if fr}}Liberate!{{else}}Banish!{{/if}}
	</button>

	<button class="delete-critter" data-id="{{this.id}}">DELETE!</button>
</li>
